<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Login</h2>
      <ngb-alert type="danger" *ngIf="!closed" (close)="closed = true">Email and password don't match!</ngb-alert>
      <form [formGroup]="signinForm" (ngSubmit)="login()">
          <label for="email">Email address</label>
          <input  
            type="email"
            formControlName="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="password"
          />
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button type="submit" class="btn btn-primary" value="login">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
