<div class="container register-container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Register</h2>
      <form [formGroup]="signupForm" (ngSubmit)="register()">
        <label for="username">Username</label>
          <input  
            type="username"
            formControlName="username"
            class="form-control"
            id="username"
          />
          <label for="email">Email address</label>
          <input  
            type="email"
            formControlName="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="password"
          />
          <label for="birthdate">Birthdate</label>
          <input 
           class="form-control" 
           type="date"
           id="birthdate"
           formControlName="birthdate"
           >
          <br>
        <button type="submit" class="btn btn-primary" value="register">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>