<div class="container create-subforum-container">
    <div class="row justify-content-center">
        <div class="col-xs-10 col-sm-9 col-md-4">
            <h2>Update your subforum</h2>
            <form [formGroup]="updateForm" (ngSubmit)="update()">
                <ngb-alert type="danger" *ngIf="!isValidFormSubmitted">All fields are required.</ngb-alert>
                <label for="name">Name</label>
                <input type="name" formControlName="name" class="form-control" id="name" aria-describedby="nameHelp" />
                <small id="nameHelp" class="form-text text-muted">Give your subforum a fitting name.</small>
                <label for="about">About</label>
                <textarea class="form-control" type="about" formControlName="about" class="form-control" id="about"
                    aria-describedby="aboutHelp">
            </textarea>
                <small id="aboutHelp" class="form-text text-muted">Give a description of what your subforum is all
                    about.</small>
                <label for="rules">Rules</label>
                <textarea class="form-control" type="rules" formControlName="rules" class="form-control" id="rules">
            </textarea>
                <small id="rulesHelp" class="form-text text-muted">Every subforum needs rules. Specify yours
                    here.</small>
                <br>
                <button type="submit" class="btn btn-primary" value="update">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>