<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Angular Forum</h3>
    <p>
      Hier beschrijft je wat je project inhoudt. Beschrijf ook de entiteiten/domeinobjecten die je gebruikt,
      en benoem per entiteit de attributen met hun datatype.
      <br>
      <br>
      Dit project is een klein forum, gebaseerd op hoe reddit in elkaar zit. Je zal als user een post kunnen
      maken, een comment kunnen plaatsen en een sub-forum kunnen aanmaken. Daarnaast komt er een
      functionaliteit om een post te kunnen liken.
      <br>
      <br>
      We krijgen dus de entiteiten User, Sub, Post en Comment.<br>
      User zal de attributen username, email, birthdate en password hebben.<br>
      Sub zal de attributen name, about, rules, posts, subscriberCount hebben.<br>
      Post zal de attributen title, imagelink, hyperlink(hyperlink voor onder title van de post), creationDate en text bevatten.<br>
      Comment zal de attributen text en likes en creationDate bevatten.<br>
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Menno Kreukniet</h5>
        <p class="card-text">
          Studentnummer: 2161708
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Sub</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>about: string</li>
      <li>rules: string</li>
      <li>subscribercount: number</li>
      <li>posts: dit gaat mogelijk ge-embed worden</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Post</p>
    <ul>
      <li>id: number</li>
      <li>title: string</li>
      <li>creationdate: datetime</li>
      <li>imagelink: string</li>
      <li>hyperlink: string</li>
      <li>text: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Comment</p>
    <ul>
      <li>id: number</li>
      <li>text: string</li>
      <li>likes: number</li>
      <li>creationdate: datetime</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>