<h1>Subforums list</h1>
<div *ngIf="this.authService.isLoggedIn"><a routerLink="/sub/create">+ Create new subforum</a></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Rules</th>
      <th scope="col">About</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sub of subs$ | async">
      <td>
        <a routerLink="{{ sub._id }}">{{ sub.name }}</a>
      </td>
      <td>{{ sub.rules }}</td>
      <td>{{ sub.about }}</td>
    </tr>
  </tbody>
</table>
