.btn-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.btn-link.focus,
.btn-link:focus,
.btn-link.hover,
.btn-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  box-shadow: none;
}
.navbar {
  background-color: #1fb4b8;
}
a {
  color: white;
}
.hamburger {
  color: white;
}
