<div *ngIf="!(sub$ | async)">
  <p>Loading...</p>
</div>

<div *ngIf="sub$ | async as sub">
  <h1>{{ sub.name }}</h1>
  <br>
  <h2>Rules</h2>
  <p>{{ sub.rules }}</p>
  <h2>About</h2>
  <p>{{ sub.about }}</p>
  <h2>Administrator</h2>
  <p>the admin of this sub is: {{ sub.admin }}</p>
  <div *ngIf="isAdmin"><button (click)="delete()">Delete subforum</button><button (click)="update()">Update
      subforum</button></div>
</div>